@charset "UTF-8";
body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  margin: 0;
  max-width: 1700px;
  min-width: 320px;
  max-height: 630px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.5em;
}

h2 {
  font-weight: 700;
  font-size: 1.5em;
  margin: 0 1em 1em 1em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-weight: 500;
  font-size: 1em;
}

h5 {
  margin: 0.8em 0;
  font-weight: 300;
  font-size: 1em;
}

/*/ Header /*/
.header__logo {
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFF;
  display: flex;
  flex-direction: row;
}
.header__return {
  position: relative;
  right: 20%;
}
.header__return .fas {
  font-size: 1.5em;
}

.logo-ohmyfood {
  max-width: 13em;
  max-height: 2.7em;
}

/*/ Footer /*/
.foot {
  color: #FFF;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
  position: relative;
}
.foot__img {
  width: 8em;
  padding: 3em 0 1.5em 2em;
  color: #F2F2F2;
}
.foot__list {
  display: flex;
  margin-left: 2em;
  flex-direction: row;
}
.foot__list--icon {
  width: 1.5em;
}
.foot h4 {
  margin: 0;
  margin: 0.3em;
  color: #FFF;
}
.foot .fas {
  font-size: 0.9em;
  margin: 0.2em 0.5em;
}
.foot a:hover {
  text-decoration: underline;
}

/*/ Boutons /*/
.btn {
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 1em;
  color: #FFF;
  border-radius: 2em;
  margin-top: 1.6em;
  box-shadow: 0.1rem 0.1rem 1rem #a8a8a8;
  display: flex;
  justify-content: center;
  width: 11em;
}

/*/ Bouton commander /*/
.command {
  display: flex;
  justify-content: center;
  padding-bottom: 4em;
  background-color: #F2F2F2;
  position: relative;
  bottom: 3em;
  margin-bottom: -3em;
}

/*/ Blocs restaurants -- Accueil /*/
.bloc__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1500px;
}

.card {
  border-radius: 20px;
  box-shadow: 0.1rem 0.1rem 1rem #c1c1c1;
  height: 16.5em;
  background-color: #FFF;
  width: 90%;
  margin: 0 0 1.5em 1.5em;
}
.card__img {
  border-radius: 1.25rem 1.25rem 0 0;
  width: 100%;
  height: auto;
  justify-content: center;
  object-fit: cover;
  max-height: 11.5em;
}
.card__new {
  position: absolute;
  top: 1%;
  right: 1%;
  color: #008766;
  background-color: #21ffc9;
  padding: 0.5em 1em;
  font-size: 0.9em;
  border-radius: 0.2em;
  margin: 0.8em;
}
.card__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.8em 1em;
}
.card h3 {
  margin: 0;
  margin-bottom: 0.3em;
}
.card .far {
  font-size: 1.5em;
}
.card .container {
  padding: 0.2em 0.7em;
}

/*/ Bloc Fonctionnement Accueil /*/
.fonction__element {
  background-color: #f4f4f4;
  margin: 1.5em 2em;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: row;
  box-shadow: 0.1rem 0.1rem 1rem #c1c1c1;
  width: 85%;
  max-width: 640px;
  height: 4em;
}
.fonction__element--number {
  padding: 6px 10px;
  background-color: #9356DC;
  border-radius: 6em;
  color: #FFF;
  font-size: 0.9em;
  position: absolute;
  right: 97%;
}
.fonction__element .fas {
  color: #757575;
  font-size: 1.3em;
  padding-right: 6px;
  position: absolute;
  left: 10%;
}

/*/ Header Menus /*/
.illustration {
  width: 100%;
  position: relative;
}
.illustration__img {
  height: 100%;
  max-height: 1000px;
  width: 100%;
}
.illustration__picture {
  max-height: 15em;
}
.illustration__title {
  display: flex;
  justify-content: space-around;
  position: relative;
  background-color: #f4f4f4;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  bottom: 3em;
  margin-bottom: -0.1em;
}
.illustration__title .far {
  position: relative;
  top: 1.1em;
  font-size: 1.5em;
}

/*/ Menus /*/
.menu {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 3em;
}

.partie {
  width: 90%;
}
.partie h3 {
  margin: 0 0 0.2em 0;
}
.partie__titre {
  border-bottom: 4px #99E2D0 solid;
  width: 3em;
}
.partie__recette {
  margin: 1em 0;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  min-height: 4em;
  max-height: 4em;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  box-shadow: 0.1rem 0.1rem 1rem #c1c1c1;
}
.partie__recette--description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.6em;
  width: 80%;
}
.partie__recette--description h3 {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.partie__recette--description p {
  font-size: 0.9em;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.partie__recette--prix {
  display: flex;
  flex-direction: column-reverse;
  font-weight: 600;
  width: 10%;
  padding: 0.6em 0;
}

/*/ Header -- Accueil /*/
#header__local {
  background-color: #e8e8e8;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*/ Explorer -- Accueil /*/
#header__explore {
  background-color: #f4f4f4;
  height: 17em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2em;
  text-align: center;
}

#header__icon {
  margin: 0 1em;
}

/*/ Restaurants -- Accueil /*/
#restaurant {
  background-color: #f4f4f4;
  padding-top: 3em;
}

@media screen and (min-width: 760px) {
  #explore__fonctionnement {
    display: flex;
  }

  #header__explore {
    width: 40%;
    height: inherit;
  }

  .fonctionnement {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fonction {
    width: 80%;
  }
  .fonction__element {
    margin: 1.5em 0em;
    width: 100%;
  }

  .bloc__card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .card {
    min-width: 18em;
    max-width: 23em;
  }

  #restaurant__title {
    padding-left: 15%;
  }

  h1 {
    font-size: xx-large;
  }

  .foot__contenent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .foot__list {
    margin: 0;
  }
  .foot__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .foot__img {
    width: 20%;
  }
}
@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .partie {
    padding: 0.5em;
    width: 30%;
  }
  .partie__recette {
    height: 4em;
    margin: 0.5em;
  }
  .partie__recette h3 {
    margin: 0;
    font-size: 0.7em;
  }
  .partie__recette p {
    font-size: 0.7em;
  }

  .partie__recette {
    transition: width 500ms;
    -o-transition: width 500ms;
    -webkit-transition: width 500ms;
    -moz-transition: width 500ms;
  }
  .partie__recette:hover {
    cursor: pointer;
  }
  .partie__recette:hover .partie__recette--description {
    width: 50%;
  }
}
@media screen and (max-width: 415px) {
  body {
    font-size: 0.9em;
  }

  .logo-ohmyfood {
    width: 11em;
  }

  h1 {
    padding-top: 1em;
  }

  .illustration__title .far {
    padding-top: 0.8em;
  }
}
/*/ Spinner /*/
@-o-keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes transparency {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  95% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@-moz-keyframes transparency {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  95% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@-webkit-keyframes transparency {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  95% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes transparency {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  95% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
.spinner {
  width: 100%;
  max-width: 1700px;
  min-height: 100%;
  z-index: 2;
  background-color: #F2F2F2;
  position: absolute;
  display: grid;
  place-items: center center;
  animation: transparency 2500ms forwards;
  -moz-animation: transparency 2500ms forwards;
  -o-animation: transparency 2500ms forwards;
  -webkit-animation: transparency 2500ms forwards;
}
.spinner__figure {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 10px solid #9356DC;
  border-bottom-color: transparent;
  border-radius: 100%;
  animation: loading 1s ease-out infinite;
  -moz-animation: loading 1s ease-out infinite;
  -o-animation: loading 1s ease-out infinite;
  -webkit-animation: loading 1s ease-out infinite;
}

/*/ Boutons /*/
.btn {
  position: relative;
  z-index: 1;
}
.btn:hover {
  cursor: pointer;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0.1rem 0.1rem 1rem #757575;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  -webkit-transition: opacity 250ms;
  -o-transition: opacity 250ms;
  -moz-transition: opacity 250ms;
  border-radius: 2em;
}

/*/ Icône coeur /*/
.container {
  position: absolute;
  left: 80%;
}

.heart {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.heart-color {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: scale(0);
  transition: 0.3s ease;
}

.heart:hover .heart-color {
  transform: scale(1);
  opacity: 1;
}

.heart:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px #FFF;
}

/*/ Blocs Fonctionnement -- Accueil /*/
.fonctionnement {
  margin-top: 3em;
}

.fonction__element {
  position: relative;
  z-index: 1;
}
.fonction__element:hover::after {
  opacity: 1;
}
.fonction__element:hover .fas {
  color: #9356DC;
}
.fonction__element::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #e4d5f6;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  -webkit-transition: opacity 250ms;
  -o-transition: opacity 250ms;
  -moz-transition: opacity 250ms;
  border-radius: 20px;
}

/*/ Blocs restaurants -- Accueil /*/
.card {
  position: relative;
  z-index: 1;
}
.card:hover {
  cursor: pointer;
}
.card:hover::after {
  opacity: 1;
}
.card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0.1rem 0.1rem 1rem #8e8e8e;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  -webkit-transition: opacity 250ms;
  -o-transition: opacity 250ms;
  -moz-transition: opacity 250ms;
  border-radius: 20px;
}

/*/ Menu apparition /*/
.partie__recette {
  position: relative;
  z-index: 1;
}
.partie__recette:hover::after {
  opacity: 1;
}
.partie__recette::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0.1rem 0.1rem 1rem #8e8e8e;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  -webkit-transition: opacity 250ms;
  -o-transition: opacity 250ms;
  -moz-transition: opacity 250ms;
  border-radius: 20px;
}

@-o-keyframes appearance {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  17% {
    opacity: 0;
  }
  24% {
    opacity: 0.3;
  }
  46% {
    opacity: 0.6;
  }
  85% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes appearance {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  17% {
    opacity: 0;
  }
  24% {
    opacity: 0.3;
  }
  46% {
    opacity: 0.6;
  }
  85% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes appearance {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  17% {
    opacity: 0;
  }
  24% {
    opacity: 0.3;
  }
  46% {
    opacity: 0.6;
  }
  85% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes appearance {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  17% {
    opacity: 0;
  }
  24% {
    opacity: 0.3;
  }
  46% {
    opacity: 0.6;
  }
  85% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.partie__recette--first {
  animation: appearance 2s;
  -moz-animation: appearance 2s;
  -o-animation: appearance 2s;
  -webkit-animation: appearance 2s;
}
.partie__recette--second {
  animation: appearance 3s;
  -moz-animation: appearance 3s;
  -o-animation: appearance 3s;
  -webkit-animation: appearance 3s;
}
.partie__recette--third {
  animation: appearance 4s;
  -moz-animation: appearance 4s;
  -o-animation: appearance 4s;
  -webkit-animation: appearance 4s;
}
.partie__recette--fourth {
  animation: appearance 5s;
  -moz-animation: appearance 5s;
  -o-animation: appearance 5s;
  -webkit-animation: appearance 5s;
}

/*/ Sélection d'un plat /*/
.partie__recette--description {
  transition: width 500ms;
  -o-transition: width 500ms;
  -webkit-transition: width 500ms;
  -moz-transition: width 500ms;
}
.partie__recette--valid {
  min-height: 100%;
  width: 0;
  transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  overflow: hidden;
  background-color: #99E2D0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: width 500ms;
  -o-transition: width 500ms;
  -webkit-transition: width 500ms;
  -moz-transition: width 500ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.partie__recette--valid span {
  display: inline-block;
}

.check {
  transform: rotate(-270deg);
  transition: transform 380ms ease-out;
  -moz-transition: transform 380ms ease-out;
  -o-transition: transform 380ms ease-out;
  -webkit-transition: transform 380ms ease-out;
  display: block;
}
.check .far {
  color: #FFF;
  size: 3px;
}

.partie__recette:hover {
  cursor: pointer;
}
.partie__recette:hover .partie__recette--description {
  width: 60%;
}
.partie__recette:hover .partie__recette--valid {
  width: 4em;
}
.partie__recette:hover .partie__recette--valid span {
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

/*# sourceMappingURL=style.css.map */
