@media #{$medium-screen} {
    #explore__fonctionnement {
        display: flex;
    }
    #header__explore {
        width: 40%;
        height: inherit;
    }
    .fonctionnement {
        width: 60%;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fonction {
        width: 80%;
        &__element {
            margin: 1.5em 0em;
            width: 100%;
        }
    }
    .bloc__card {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .card {
        min-width: 18em;
        max-width: 23em;
    }
    #restaurant__title {
        padding-left: 15%;
    }
    h1 {
        font-size: xx-large;
    }
    .foot__contenent {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .foot {
        &__list {
            @include no-margin;
        }
        &__logo {
            @include center;
        }
        &__img {
            width: 20%;
        }
    }
}

@media #{$large-screen} {
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    .partie {
        padding: 0.5em;
        width: 30%;
        &__recette {
            height: 4em;
            margin: 0.5em;
            h3 {
                @include no-margin;
                font-size: $xxsmall-font;
            }
            p {
                font-size: $xxsmall-font;
            }
        }
    }
    .partie__recette {
        transition: width 500ms;
        -o-transition: width 500ms;
        -webkit-transition: width 500ms;
        -moz-transition: width 500ms;
        &:hover {
            cursor: pointer;
            .partie__recette--description {
                width: 50%;
            }
        }
    }
}

@media #{$small-screen} {
    body {
        font-size: $small-font;
    }
    .logo-ohmyfood {
        width: 11em;
    }
    h1 {
        padding-top: 1em;
    }
    .illustration__title {
        .far {
            padding-top: 0.8em;
        }
    }
}