@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin no-margin {
    margin: 0;
}

@mixin shadow($color) {
    box-shadow: 0.1rem 0.1rem 1rem $color;
}

@mixin radius($degree: 20px) {
    border-radius: $degree;
}

@mixin adjust-bottom {
    bottom: 3em;
}