/*/ Header /*/

.header {
    &__logo {
        height: 4em;
        @include center;
        box-shadow: 0 0 0.5em (lighten($fourth-color, 45%));
        background-color: $fifth-color;
        display: flex;
        flex-direction: row;
    }
    &__return {
        position: absolute;
        left: 2em;
        .fas {
            font-size: $xlarge-font;
        }
    }
}

.logo-ohmyfood {
    max-width: 13em;
    max-height: 2.7em;
}

/*/ Footer /*/

.footer {
    color: $fifth-color;
    background-color: $fourth-color;
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
    &__img {
        width: 8em;
        padding: 3em 0 1.5em 2em;
    }
    &__list {
        display: flex;
        margin-left: 2em;
        flex-direction: row;
        &--icon {
            width: 1.5em;
        }
    }
    h4 {
        @include no-margin;
        margin: 0.3em;
    }
    .fas {
        font-size: $small-font;
        margin: 0.2em 0.5em;
    }
    a:hover {
        text-decoration: underline;
    }
}

/*/ Boutons /*/

.btn__explore {
    background: linear-gradient($second-color, $first-color);
    padding: 1em;
    color: #FFF;
    @include radius (2em);
    margin-top: 1.6em;
    @include shadow (lighten($fourth-color, 45%));
    display: flex;
    justify-content: center;
    width: 11em;
    &:hover {
        @include shadow (lighten($fourth-color, 15%));
        background: linear-gradient(lighten($second-color, 5%), lighten($first-color, 5%));
    }
}
 
    /*/ Bouton commander /*/

    .command {
        display: flex;
        justify-content: center;
        padding-bottom: 4em;
        background-color: #F2F2F2;
        position: relative;  
    }

    

/*/ Blocs Fonctionnement -- Accueil /*/

.fonctionnement {
    margin-top: 3em;
}
.fonction__element {
        background-color: lighten($fourth-color, 75%);
        margin: 1.5em 2em;
        @include radius;
        @include center;
        flex-direction: row;
        @include shadow (lighten($fourth-color, 55%));
        position: relative;
        width: 85%;
        max-width: 640px;
        height: 4em;
    &--number {
        padding: 6px 10px;
        background-color: $first-color;
        @include radius(6em);
        color: $fifth-color;
        font-size: $small-font;
        position: absolute;
        right: 97%;
    }
    .fas {
        color: lighten($fourth-color, 25%);
        font-size: $large-font;
        padding-right: 6px;
        position: absolute;
        left: 10%;
    }
    &:hover {
        background-color: lighten($first-color, 35%);
        @include shadow (lighten($fourth-color, 45%));
        .fas {
            color: $first-color;
        }
    }
}

/*/ Blocs restaurants -- Accueil /*/

.bloc__card {
    width: 95%;
    @include center;
}

.card {
    border-radius: 1.25rem;
    @include shadow (lighten($fourth-color, 55%));
    height: 16.5em;
    background-color: $fifth-color;
    width: 90%;
    margin: 0 0 1.5em 1.5em;
    position: relative;
    &__img {
        border-radius: 1.25rem 1.25rem 0 0;
        width: 100%;
        height: auto;
        justify-content: center;
        object-fit: cover;
        max-height: 11.5em;
    }
    &__new {
        position: absolute;
        top: 1%;
        right: 1%;
        color: $sixth-color;
        background-color: lighten($sixth-color, 30%);
        padding: 0.5em 1em;
        font-size: $small-font;
        @include radius(0.2em);
        margin: 0.8em;
    }
    &__description {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.8em 1em;
    }
    h3 {
        @include no-margin;
        margin-bottom: 0.3em;
    }
    .far {
        font-size: $xlarge-font;
        padding: 0.2em 0.7em;
        &:hover {
            color: linear-gradient($second-color, $first-color);
        }
    }
    &:hover {
        @include shadow (lighten($fourth-color, 15%));
    }
}

/*/ Header Menus /*/

.illustration {
    height: 16em;
    width: 100%;
    position: relative;
    &__img {
    height: 100%;
    width: 100%;
    }
    &__picture {
        max-height: 15em;
    }
    &__title {
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 3em;
    background-color: lighten($fourth-color, 75%);
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    .far {
        position: relative;
        top: 1.1em;
        font-size: $xlarge-font;
        }
    }
}

/*/ Menus /*/

.menu {
    background-color: lighten($fourth-color, 75%);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.partie {
    width: 90%;
    h3 {
        margin: 0 0 0.2em 0;
    }
    &__titre {
        border-bottom: 4px $third-color solid;
        width: 3em;
    }
    &__recette {
        margin: 1em 0;
        background-color: $fifth-color;
        display: flex;
        justify-content: space-between;
        padding: 0.6em;
        border-radius: 20px;
        height: 3.3em;
        @include shadow (lighten($fourth-color, 55%));
        &--description {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0.3em 0;
            width: 80%;
            p {
                font-size: $small-font;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        &--prix {
            display: flex;
            flex-direction: column-reverse;
            font-weight: 600;
            width: 15%;
        }
        &:hover {
            @include shadow (lighten($fourth-color, 15%));
        }
    }
}
